body{
    background-color: #E5E3C9;
}

hr{
  border-style: dotted none none;
  width: 12%;
  background-color: #E5E3C9;
  border-width: 7px;
  border-top-color: blue;
  }

h1{
  color: #146356;
  font-family: Helvetica;
  }

h3{
  color: #4B8E8D;
  font-family: Helvetica;
  letter-spacing: 2px;
  }

a{
  color: #CC704B;
}

body{
  color: #45526C;
  font-family: Helvetica;
}

img {
  border-radius: 100%;
}
